.nav-link {
  color: #fff;
}

.nav-link:focus {
  color: #fff;
  font-weight: bold;
  font-size: larger;
}

.navbar-toggler-icon {
  color: #fff;
}

button.navbar-toggler.collapsed {
  background-color: #fff;
  color: black;
}
