body {
  padding: 0;
  margin: 0;
  /* background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95));*/
  background: #3C1361;
  font-family: "American Typewriter", "AmericanTypewriter";

}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #bca0dc;
}

p {
  font-size: 91px;
  color: #bca0dc;
}

.area {
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.area:hover {
  background-color: #eaeaea;
}